<form>
    <div class="form-group">
        <label for="currency-from">FROM</label>

        <label for="currency-to">TO</label>
    </div>
    <div class="form-group">
         <select onchange={{action (mut currencyFrom) value="target.value"}}>
            <option selected disabled>Select</option>
            {{#each currencies as |currencyFromChoice|}}
                <option value={{currencyFromChoice}} selected={{eq currencyFrom currencyFromChoice}}>{{currencyFromChoice}}</option>
            {{/each}}
        </select>  

         <select onchange={{action (mut currencyTo) value="target.value"}}>
            <option selected disabled>Select</option>
            {{#each currencies as |currencyToChoice|}}
                <option value={{currencyToChoice}} selected={{eq currencyTo currencyToChoice}}>{{currencyToChoice}}</option>
            {{/each}}
        </select> 
    </div>
    <div class="form-group">
        <label for="amount">Amount:</label>
        {{input value=amount id="amount" placeholder="Enter amount"}}
    </div>

    <button class="btn" {{action 'convertCurrency'}}>Convert</button>
</form>
