<form>
    <div class="form-group">
        <label for="currency-from">FROM</label>

        <label for="currency-to">TO</label>
    </div>
    <div class="form-group">
        <select onchange={{action (mut currencyFrom) value="target.value" id="currency-from"}}>
            {{#each currenciesFrom as |currencyChoice|}}
                <option value={{currencyChoice}} selected={{eq currency currencyChoice}}>{{currencyChoice}}</option>
            {{/each}}
        </select>

        <select onchange={{action (mut currencyTo) value="target.value" id="currency-to"}}>
            {{#each currenciesTo as |currencyChoice|}}
                <option value={{currencyChoice}} selected={{eq currency currencyChoice}}>{{currencyChoice}}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-group">
        <label for="amount">Amount:</label>
        {{input value=amount id="amount"}}
    </div>

    <button class="btn" {{action 'convertCurrency'}}>Convert</button>
</form>
